[submodule "ros/ROS-TCP-Endpoint"]
	path = ros/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
[submodule "hl2ss"]
	path = hl2ss
	url = https://github.com/VIDA-NYU/hl2ss.git
[submodule "python-tpl/TCN_HPL"]
	path = python-tpl/TCN_HPL
	url = https://github.com/PTG-Kitware/TCN_HPL.git
	branch = main
[submodule "python-tpl/yolov7"]
	path = python-tpl/yolov7
	url = https://github.com/PTG-Kitware/yolov7
[submodule "ros/rosbag2"]
	path = ros/rosbag2
	url = https://github.com/ros2/rosbag2.git
	branch = foxy-future
