[submodule "ros/ROS-TCP-Endpoint"]
	path = ros/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
[submodule "ros/rosbag2"]
	path = ros/rosbag2
	url = https://github.com/ros2/rosbag2.git
	branch = foxy-future
[submodule "angel_system/hl2ss"]
	path = hl2ss
	url = git@github.com:VIDA-NYU/hl2ss.git
