/* Kitware Colors */
:root {
  --light-gray-3:    rgb(243, 243, 243); /* light gray 3 */
  --dark-gray-30:    rgb(36, 42, 55);
  --kit-light-blue:  rgb(220, 227, 236); /* kitware light blue */
  --kit-dark-blue:   rgb(0, 55, 101); /* kitware dark blue*/
  --kit-blue:        rgb(0, 104, 199); /* kitware blue */
  --kit-green:       rgb(62, 174, 43);
  --light-red-berry: rgb(244, 40, 54);

  /* Hex Options */
  --hex-full:   polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  --hex-top:    polygon(25% 100%, 75% 100%, 100% 100%, 75% 0, 25% 0, 0 100%);
  --hex-bottom: polygon(25% 0, 75% 0, 100% 0, 75% 100%, 25% 100%, 0 0);
  --hex-left:   polygon(100% 0, 0 50%, 100% 100%);
  --hex-right:  polygon(0 0, 100% 50%, 0 100%);
}

html,
body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.content {
  flex-grow: 1;
}

/* ------------ */
/* TEXT         */
/* ------------ */
.text {
  font-family: "Roboto",sans-serif;
}
.body-text {
  font-size: clamp(1rem,1vw,1.7rem);
  font-weight: 300;
  line-height: 1;

  color: var(--kit-dark-blue);

  text-align: left;
}

/* ------------ */
/* MENU         */
/* ------------ */
#header { /* main menu */
  background: var(--light-gray-3);
  position: relative;
  display: flex;
  height: 10%;
  max-height: 6vh;
}
#header img { /* kitware logo */
  height: 5%;
  max-height: 5vh;
  width: auto; /* keep aspect ratio */
  float: top;
  padding: 5px;
  
}
#status { /* kitware logo */
  margin-left: auto; 
  margin-right: 10px;
}

/* ------------ */
/* TITLE        */
/* ------------ */
.highlighted-title {
  padding: 0 0 10px 0;
  position: relative;
  margin: 0 auto;

  margin-bottom: 4px;
  max-width: 15vw;

  overflow: hidden;
  text-overflow: clip;

  max-height: 10%;

}
.icon-hex {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1px 0 0;

  /*height:64.8px;
  width: 69.8px;*/
  width: 49px;
  height: 49px;
  clip-path: var(--hex-full);
  background-color: var(--kit-green); 
}

.title-hex {
  position: relative;
  background-color: var(--kit-light-blue);
  display: inline-block;
  vertical-align: middle;

  clip-path: polygon(12.5556px 0, calc(100% - 12.5556px) 0, 100% 50%, calc(100% - 12.5556px) 100%, 12.5556px 100%, 0% 50%);

  /* Paired with hexagon
  clip-path: polygon(15px 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 15px 100%, 0% 50%); */
  padding: 0 2rem 0 2rem;
  width: 70%;
  max-width: 80%;
  
  font-size: 1.2rem;
  font-weight: 550;
  line-height: 1.3;
  color: var(--kit-dark-blue);
}

/* ------------ */
/* BLUE ARROW   */
/* ------------ */
.highlighted-body { /* blue arrow */
  margin-top: 10px;
  margin-bottom: 10px;

  content: "";

  clear: both;
  
  width: 99%;
  height: 50%;
  max-height: 45vh;

  background-color: var(--kit-blue);

  left: 0;
  position: relative;
  display: flex;

  clip-path: polygon(0% 0%, calc(100% - 226.0015px) 0%, 100% 50%, calc(100% - 226.0015px) 100%, 0% 100%);
}

/* ------------ */
/* RECIPE       */
/* ------------ */
#recipe { /* task list */
  padding: 10px;
  width: 40%;
  max-width: 45vw;
  max-height: 42vh;

  text-align: center;

  margin-left: 40px;
}

#task-list {
  height:85%;

  overflow: scroll;
  scrollbar-color: var(--dark-gray-30) white;

  text-align: left;
  
}
.task-line {
  display: block;
  margin-bottom: 5px;
}
/* task text */
.task {
  font-size: clamp(1rem,1vw,1.8rem);
  font-weight: 300;
  line-height: 1;

  color: white;
}
.btn {
  position: relative;
  background-color: var(--kit-green);
  display: inline-block;
  vertical-align: middle;

  clip-path:polygon(12.5556px 0, calc(100% - 12.5556px) 0, 100% 50%, calc(100% - 12.5556px) 100%, 12.5556px 100%, 0% 50%);
  padding: 0 2.25rem;
  margin-top: 10px;
  height: 2.75rem;
  
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1;
  color: var(--kit-light-blue);

  border: none;
  border-radius: 0;
}
.btn:hover {
  background-color: rgb(212, 238, 213);
  color: var(--kit-green);
  box-shadow: none;
  text-decoration: none;
}

/* checkmark */
.checkbox { 
  border: 1.5px solid white; 
  width: 1.1em; 
  height: 1.1em; 

  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
/* from: https://stackoverflow.com/questions/21968531/how-to-draw-a-checkmark-tick-using-css */
.checkmark {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -10px;

  transform: rotate(45deg);
  height: 25px;
  width: 12px; 

  border-bottom: 7px solid var(--kit-green);
  border-right: 7px solid var(--kit-green);
}
.checkmark_hidden {
  visibility: hidden;
}
.checkmark_visible {
  visibility: visible;
}

/* ------------ */
/* LIVE VIEW    */
/* ------------ */
#HL-live{
  float: left;
  padding: 10px;
  width: 45%;
  max-width: 40vw;
  margin-left: auto; 
  margin-right: 226.0015px;
}

.live-img {
  float:left;

  height: 99%;
  width: auto; /* keep aspect ratio */
  max-width: 40vw;
}

/* ------------ */
/* MIDDLE ROW   */
/* ------------ */
#middle-row {
  left: 0;
  position: relative;
  display: flex;
  width: 95%;
  height: 99%;
  max-height: 50vh;

  margin-left: 10px;
  margin-right: 10px;

  content: "";

  clear: both;

  text-align: center;
}

#charts {
  position: relative;
  display: flex;

  width: 99%;
  height: 90%;

  margin-bottom: 40px;
}

#activity {
  text-align: center;

  width: 70%;
  height: 99%;
}
#activity-conf-chart { /* chart */
  height: 60%;
  max-height: 40vh;
}

#step {
  text-align: center;

  margin-left: 50px;

  width: 70%;
  height: 99%;
}
#task-step-conf-chart {
  height: 60%;
  max-height: 40vh;
}

#task-complete {
  margin-left: 50px;
  text-align: center;

  width: 15%;
  height: 99%;

  margin-right: 10px;
}
#task-complete-chart { /* chart */
  height: 60%;
  max-height: 40vh;
}

/* ------------ */
/* BOTTOM       */
/* ------------ */
#bottom-row {
  position: relative;
  display: flex;
  padding: 10px;
 
  width: 95%;
  height: 99%;
  max-height: 40vh;

  content: "";

  clear: both;

  text-align: center;
}

/* ------------ */
/* ERRORS       */
/* ------------ */
#errors {
  height:100%;
  width: 30%;
  position: relative;
  display: flex;
}
#error-msgs {
  max-height:100%;
  height: 60%;

  overflow: scroll;
  scrollbar-color: var(--dark-gray-30) white;
}

.error-msg {
  margin-bottom: 10px;
}

/* https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
  background-color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: clamp(1rem,1vw,1.8rem);
  font-weight: 550;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: block;
  overflow: hidden;
  background-color: var(--kit-light-blue);
  text-align: left;
  font-size: clamp(1rem,1vw,1.5rem);
}

.collapsible:after {
  font-size: 10px;
  float: right;
  margin-left: 5px;
}

.lapse{
  background-color: rgb(238, 143, 77);
}
.lapse:hover {
  background-color: rgb(238, 143, 77);
}
