/* Kitware Colors */
$light-gray-3:   rgb(243, 243, 243); /* light gray 3 */
$kit-light-blue: rgb(220, 227, 236); /* kitware light blue */
$kit-dark-blue:  rgb(0, 55, 101); /* kitware dark blue*/
$kit-blue:       rgb(0, 104, 199); /* kitware blue */

/* Hex Options */
$hex-full:   polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
$hex-top:    polygon(25% 100%, 75% 100%, 100% 100%, 75% 0, 25% 0, 0 100%);
$hex-bottom: polygon(25% 0, 75% 0, 100% 0, 75% 100%, 25% 100%, 0 0);
$hex-left:   polygon(100% 0, 0 50%, 100% 100%);
$hex-right:  polygon(0 0, 100% 50%, 0 100%);